<% provide(:title, "Mistery Box") %>
<header class='sec-header' id='mb-header'>
	<h1 id='h1-logo'>Crowd Interactive</h1>
	<h1 class='main-h1'>The Mistery Box</h1>
</header>
<section class='sp1'>
</section>
<section class='sp1'>
	<article class='sp2'>
	</article>
	<article class='sp2'>
	</article>
</section>
<section class='sp1'>
	<article class='sp3'>
	</article>
	<article class='sp1'>
	</article>
</section>