<% provide(:title, "Store") %>
<header class='sec-header' id='store-header'>
	<h1 id='h1-logo'>Crowd Interactive</h1>
	<h1 class='main-h1'>Store</h1>
</header>
<section class='sp1'>
</section>
<section class='sp1'>
</section>
<section class='sp1'>
</section>
<section class='sp1'>
</section>