// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =Header
-----------------------------------------------------------------------------*/
body{
	background:#88cccd;
	background-image: url(bkgtexture.png);
}
#main-header{
	background: #000;
	#main-nav{
		display: inline-block;
		padding: 10px 0;
		margin: 0 auto;
		ul{
			list-style-type: none;
			margin-left: 0;
			li{
				float:left;
				height: 24px;
				padding-bottom: 3px;
				a{	
					text-decoration: none;
					text-transform: uppercase;
					color:#DDD;
					padding:0 20px;
					font-size: 1.5em;
					line-height: 1.5em;
				}
				a:hover, a:active{
					color:#88cccd;
				}
			}
			li.active a{
				color:#88cccd;
			}
			li + li{
				border-left: 3px solid #FFF;
			}
		}
	}
}

article{
	background:#d5eff0;
	padding:2px;
	display: inline-block;
	margin-bottom: 2em;
	p{
		margin-bottom: 0;
	}
}

section{
	display: inline-block;
	clear: both;
}

.main-h1{
	font-size: 85px;
	color:#d5efee;
	font-weight: normal;
	text-transform: uppercase;
}

.sp2{
	float:left;
}
.sp2 + .sp2{
	margin-left: 17px;
}
.sp4 + .sp4{
	margin-left: 10px;
}

#main-footer{
	clear: both;
}

#h1-logo{
	background-image: url(logo.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 141px;
	width:141px;
	float:left;
}
