<header id='main-header'>
	<div class='container'>
		<a href='/'>Creative CROWD</a>
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href='/team'>Team</a></li>
				<li><a href='/'>Samples</a></li>
				<li><a href='/mistery_box'>Box</a></li>
				<li><a href='/store'>Store</a></li>
			</ul>
		</nav>
	</div>
</header>
