<header id='main-header'>
	<div class='container wrapper'>
		<nav id='main-nav'>
			<ul>
				<li><a class='active' href='/'>Home</a></li>
				<li><a href='/team'>Team</a></li>
				<li><a href='/'>Samples</a></li>
				<li><a href='/mistery_box'>Box</a></li>
				<li><a href='/store'>Store</a></li>
			</ul>
		</nav>
	</div>
</header>
